
<h2>
  <%= @space.title %>
</h2>

<% @space.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 100, width: 150, crop: :fill %>
<% end %>

<h3>
  <%= @space.space %>
</h3>


<p>
  <%= @space.address %>
</p>

<p>
  <%= @space.description %>
</p>

<p>
  <%= @space.price %>
</p>

<p>
  <%= @space.capacity %>
</p>

<p>
  <%= @space.wifi %>
</p>

<%= link_to edit_space_path(@space) do %>
  <i class="fas fa-pencil-alt"></i>
<% end %>

<%= link_to space_path(@space), method: :delete, data: { confirm: "Are you sure ?" } do %>
  <i class="far fa-trash-alt"></i>
<% end %>

<%= link_to "back to spaces", spaces_path %>
