<%= simple_form_for([ @space, @booking ]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% if session[:dates].present? %>
      <%= f.input :date_from, as: :string, type: :text, input_html: { value: session[:dates]} %>
    <% else %>
      <%= f.input :date_from, as: :string, type: :text, placeholder: "Select dates" %>
    <% end %>
  </div>

  <div>
    <h5 id="total_price" data-price="<%= @space.price %>"></h5>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary w-100' %>
  </div>
<% end %>
