<div class="navbar navbar-expand-sm navbar-light navbar-aboutaspace sticky-top">
  <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://images.unsplash.com/photo-1572531869039-7d995be66601?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=100"%>
    <i class="fas fa-horse text-white"></i> Unicorn+Cube
    <% end %>

</nav>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Create Funding Profile", new_space_path, class: "nav-link border border-white rounded text-center mx-1 my-1 bg-white nav-filled" %>
        </li>
        <li class="nav-item active">
          <%= link_to "My Account", my_account_path, class: "nav-link border border-white rounded text-center mx-1 my-1 bg-white nav-filled" %>
        </li>
        <li class="nav-item">

          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link border border-white rounded text-center mx-1 my-1 bg-transparent text-white" %>
        </li>
        <%# <li class="nav-item dropdown"> %>
          <%# <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%# <i class="fas fa-user"></i> %>
          <%# <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"> %>
            <%# <%= link_to "Action", "#", class: "dropdown-item" %>
            <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%# <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <%# </div> %>
        </li>
      <% else %>
        <li class="nav-item mx-1 my-1">
          <%= link_to "Launch New Venture", new_user_session_path, class: "btn-ghost" %>
        </li>
        <li class="nav-item mx-1 my-1">
          <%= link_to "Raise Capital", new_user_session_path, class: "btn-ghost" %>
        </li>
        <li class="nav-item mx-1 my-1">
          <%= link_to "Invest", new_user_session_path, class: "btn-ghost" %>
        </li>
        <li class="nav-item mx-1 my-1">
          <%= link_to "Create Account", new_user_registration_path, class: "btn-ghost" %>
        </li>
        <li class="nav-item mx-1 my-1">
          <%= link_to "Sign In", new_user_session_path, class: "btn-ghost" %>
        </li>
        <li class="nav-item mx-1 my-1">
          <%= link_to "Menu", new_user_session_path, class: "btn-ghost" %>
        </li>

      <% end %>
    </ul>
  </div>
</div>
