
<div class="display-flex">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1224&q=80);">
  <div class="container text-center">
    <h1> UnicornCube</h1>
      <h4 class="text-white"><span class="typed"></span></h4>
      <%# <%= link_to "Checkout spaces", spaces_path, class: "btn btn-flat" %>

      <%# <%= form_tag spaces_path, method: :get, class: "form-inline m-3 justify-content-center", html: {class: "w-100 m-3"} do %>
        <%# <%= text_field_tag :query, %>
          <%# params[:query], %>
          <%# class: "form-control w-50 rounded", %>
          <%# placeholder: "Find a space" %>
        <%# %>
        <%# <%= button_tag(type: "submit", class: "btn btn-primary") do %>
          <%# <i class="fas fa-search"></i> %>
        <%# <% end %>
      <%# <% end %>

      <div class="m-2 px-2 py-2">
        <h4 class="mb-0  mt-3 text-center text-light">Your future awaits.</h4>
        <div class="d-flex justify-content-center m-auto col-sm-12 col-md-8 col-lg-6">
            <%= form_tag spaces_path, method: :get, class: "my-3 justify-content-center w-100" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control w-100 rounded mb-1",
                placeholder: "Search"
                render 'shared/searchform'
              %>

                <%# <%= render 'shared/searchform' %>

              <%# <%= text_field_tag :date,
                params[:date],
                class: "form-control w-100 rounded-pill mb-1",
                placeholder: "Find by dates",
                id: "date-filter"
              %>
                <%# <small class="text-light ml-1">Search by keywords</small>
                <%= button_tag(type: "submit", class: "btn btn-primary px-4 rounded-pill") do %>
                  <%# <i class="fas fa-search"></i>
                <% end %>
              <%# <div class="d-flex justify-content-between w-100">
              </div> %>
          <% end %>
        </div>
      </div>

  </div>
</div>

<div class="banner mt-1" data-aos="fade-in" data-aos-duration="2000" data-aos-easing="ease-in-out" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1531482615713-2afd69097998?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container text-center text-light">
    <h1>Launch your new venture</h1>
    <p>Bring your innovative ideas and dreams to reality...today</p>
    <a class="btn btn-flat" href="#">Start now</a>
  </div>
</div>

<div class="banner mt-1" data-aos="fade-in" data-aos-duration="2000" data-aos-easing="ease-in-out" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1573164574511-73c773193279?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container text-center text-light">
    <h1>Raise capital to grow your businesses</h1>
    <p>You can take over the world...</p>
    <a class="btn btn-flat" href="#">Grow now</a>
  </div>
</div>

<div class="banner mt-1" data-aos="fade-in" data-aos-duration="2000" data-aos-easing="ease-in-out" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1531565202273-bb2d26098c35?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80);">
  <div class="container text-center text-light">
    <h1>Plant the seed for your desired future</h1>
    <p>Invest in promising ventures...and share in the success</p>
    <a class="btn btn-flat" href="#">Invest now</a>
  </div>
</div>

</div>

</div>
</div>
