

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1476973422084-e0fa66ff9456?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2183&q=80);">
  <div class="container text-center">
    <h1><i class="fas fa-door-open"></i> About a Space</h1>
      <h4 class="text-white"><span class="typed"></span></h4>
      <%# <%= link_to "Checkout spaces", spaces_path, class: "btn btn-flat" %>

      <%# <%= form_tag spaces_path, method: :get, class: "form-inline m-3 justify-content-center", html: {class: "w-100 m-3"} do %>
        <%# <%= text_field_tag :query, %>
          <%# params[:query], %>
          <%# class: "form-control w-50 rounded", %>
          <%# placeholder: "Find a space" %>
        <%# %>
        <%# <%= button_tag(type: "submit", class: "btn btn-primary") do %>
          <%# <i class="fas fa-search"></i> %>
        <%# <% end %>
      <%# <% end %>

      <div class="m-2 px-2 py-2">
        <h4 class="mb-0  mt-3 text-center text-light">Find for your ideal Space</h4>
        <div class="d-flex justify-content-center m-auto col-sm-12 col-md-8 col-lg-6">
            <%= form_tag spaces_path, method: :get, class: "my-3 justify-content-center w-100" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control w-100 rounded mb-1",
                placeholder: "Search"
              %>
              <%= text_field_tag :date,
                params[:date],
                class: "form-control w-100 rounded mb-1",
                placeholder: "Find by dates",
                id: "date-filter"
              %>
              <div class="d-flex justify-content-between w-100">
                <small class="text-light ml-1">Search by keywords and dates</small>
                <%= button_tag(type: "submit", class: "btn btn-primary px-4") do %>
                  <i class="fas fa-search"></i>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>

  </div>
</div>

<div class="container">

<div class="cards-home mt-4" data-aos="fade-in" data-aos-duration="2000" data-aos-easing="ease-in-out">
      <% @spaces.each do |space| %>
      <%# card component %>
        <div class="card mb-3 shadow-sm">
          <% if space.photos.empty? %>
            <img src="https://images.unsplash.com/photo-1505409859467-3a796fd5798e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" class="card-img-top" alt="...">
          <% else %>
            <%= cl_image_tag space.photos[0].key, crop: :fill %>
          <% end %>
          <div class="card-body d-flex flex-column justify-content-between">
            <div class>
              <small><%= space.space %></small>
              <%= link_to space_path(space) do %>
                <h5 class="card-title">
                  <%= space.title %>
                </h5>
              <% end %>
              <small><%= space.address %></small>
            </div>

            <ul class="d-flex justify-content-between p-0 m-0 mt-4">
              <li class="list-unstyled">
                <i class="fas fa-user-friends"></i>
                <%= space.capacity %>
                <% if space.wifi %>
                  <i class="fas fa-wifi"></i>
                <% end %>
              </li>
              <li class="list-unstyled">
                <h5>
                  AED
                  <%= space.price.to_i %>
                  per day
                </h5>
              </li>
            </ul>
          </div>
        </div>
      <%# end card component %>
      <% end %>
</div>
</div>
