

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1476973422084-e0fa66ff9456?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2183&q=80);">
  <div class="container text-center">
    <h1><i class="fas fa-door-open"></i> About a Space</h1>
      <p>Offices | Conference Rooms | Halls</p>
      <%= link_to "Checkout spaces", spaces_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container">

<div class="cards-home mt-4">
      <% @spaces.each do |space| %>
      <%# card component %>
        <div class="card mb-3 shadow-sm">
          <% if space.photos.empty? %>
            <img src="https://images.unsplash.com/photo-1505409859467-3a796fd5798e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" class="card-img-top" alt="...">
          <% else %>
            <%= cl_image_tag space.photos[0].key, crop: :fill %>
          <% end %>
          <div class="card-body d-flex flex-column justify-content-between">
            <div class>
              <small><%= space.space %></small>
              <%= link_to space_path(space) do %>
                <h5 class="card-title">
                  <%= space.title %>
                </h5>
              <% end %>
              <small><%= space.address %></small>
            </div>

            <ul class="d-flex justify-content-between p-0 m-0 mt-4">
              <li class="list-unstyled">
                <i class="fas fa-user-friends"></i>
                <%= space.capacity %>
                <% if space.wifi %>
                  <i class="fas fa-wifi"></i>
                <% end %>
              </li>
              <li class="list-unstyled">
                <h5>
                  AED
                  <%= space.price.to_i %>
                  per day
                </h5>
              </li>
            </ul>
          </div>
        </div>
      <%# end card component %>
      <% end %>
</div>
</div>
